---
http_interactions:
- request:
    method: get
    uri: http://www.termscout.com/sitemap_index.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:44 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<sitemapindex xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n<sitemap>\n<loc>http://www.termscout.com/post-sitemap.xml</loc>\n<lastmod>2015-05-01T09:13:11-06:00</lastmod>\n</sitemap>\n<sitemap>\n<loc>http://www.termscout.com/page-sitemap.xml</loc>\n<lastmod>2016-03-07T16:21:48-07:00</lastmod>\n</sitemap>\n<sitemap>\n<loc>http://www.termscout.com/product-sitemap.xml</loc>\n<lastmod>2015-07-13T16:33:24-06:00</lastmod>\n</sitemap>\n<sitemap>\n<loc>http://www.termscout.com/industry-sitemap.xml</loc>\n<lastmod>2015-07-02T10:50:41-06:00</lastmod>\n</sitemap>\n<sitemap>\n<loc>http://www.termscout.com/category-sitemap.xml</loc>\n<lastmod>2015-05-01T09:13:11-06:00</lastmod>\n</sitemap>\n</sitemapindex>\n<!--
        XML Sitemap generated by Yoast SEO -->\r\n<!-- Performance optimized by W3
        Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/\r\n\r\nPage
        Caching using disk: enhanced\r\nObject Caching 200/204 objects using disk\r\n\r\n
        Served from: www.termscout.com @ 2016-03-22 11:28:44 by W3 Total Cache -->"
  recorded_at: Tue, 22 Mar 2016 17:28:36 GMT
- request:
    method: get
    uri: http://www.termscout.com/category-sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:45 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<urlset xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd\"
        xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n\t<url>\n\t\t<loc>http://www.termscout.com/category/business/</loc>\n\t\t<lastmod>2015-04-03T21:17:05-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.2</priority>\n\t</url>\n\t<url>\n\t\t<loc>http://www.termscout.com/category/intelligence/</loc>\n\t\t<lastmod>2015-04-03T21:19:25-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.2</priority>\n\t</url>\n\t<url>\n\t\t<loc>http://www.termscout.com/category/sales-tips/</loc>\n\t\t<lastmod>2015-04-03T21:18:27-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.2</priority>\n\t</url>\n\t<url>\n\t\t<loc>http://www.termscout.com/category/uncategorized/</loc>\n\t\t<lastmod>2015-05-01T09:13:11-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.2</priority>\n\t</url>\n</urlset>\n<!--
        XML Sitemap generated by Yoast SEO -->\r\n<!-- Performance optimized by W3
        Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/\r\n\r\nPage
        Caching using disk: enhanced\r\nObject Caching 201/202 objects using disk\r\n\r\n
        Served from: www.termscout.com @ 2016-03-22 11:28:45 by W3 Total Cache -->"
  recorded_at: Tue, 22 Mar 2016 17:28:37 GMT
- request:
    method: get
    uri: http://www.termscout.com/industry-sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:45 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<urlset xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:image=\"http://www.google.com/schemas/sitemap-image/1.1\" xsi:schemaLocation=\"http://www.sitemaps.org/schemas/sitemap/0.9
        http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd\" xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n\t<url>\n\t\t<loc>http://www.termscout.com/industry/commercial-real-estate/</loc>\n\t\t<lastmod>2015-07-02T10:50:41-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.6</priority>\n\t</url>\n\t<url>\n\t\t<loc>http://www.termscout.com/industry/communications/</loc>\n\t\t<lastmod>2015-07-02T10:50:10-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.6</priority>\n\t</url>\n\t<url>\n\t\t<loc>http://www.termscout.com/industry/enterprise-tech/</loc>\n\t\t<lastmod>2015-07-02T10:49:00-06:00</lastmod>\n\t\t<changefreq>weekly</changefreq>\n\t\t<priority>0.6</priority>\n\t</url>\n</urlset>\n<!--
        XML Sitemap generated by Yoast SEO -->\r\n<!-- Performance optimized by W3
        Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/\r\n\r\nPage
        Caching using disk: enhanced\r\nObject Caching 201/202 objects using disk\r\n\r\n
        Served from: www.termscout.com @ 2016-03-22 11:28:45 by W3 Total Cache -->"
  recorded_at: Tue, 22 Mar 2016 17:28:37 GMT
- request:
    method: get
    uri: http://www.termscout.com/product-sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:46 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<urlse[...]
- request:
    method: get
    uri: http://www.termscout.com/page-sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:47 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<urlset x[...]
- request:
    method: get
    uri: http://www.termscout.com/post-sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 22 Mar 2016 17:28:47 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//www.termscout.com/main-sitemap.xsl\"?>\n<urlset x[...]
